<h1>Longest Running Fiction Bestsellers, 2013</h1>
<%= form_tag('/overallinechart', method: :get) do %>
<%= hidden_field_tag 'list', '1' %>
<%= submit_tag 'E-book Fiction', :class => 'color1back' %>
<% end %>
<%= form_tag('/overallinechart', method: :get) do %>
<%= hidden_field_tag 'list', '2' %>
<%= submit_tag 'Hardcovers', :class => 'color2back' %>
<% end %>
<%= form_tag('/overallinechart', method: :get) do %>
<%= hidden_field_tag 'list', '3' %>
<%= submit_tag 'Trade Paperbacks', :class => 'color3back' %>
<% end %>
<%= form_tag('/overallinechart', method: :get) do %>
<%= hidden_field_tag 'list', '4' %>
<%= submit_tag 'Mass-market Paperbacks', :class => 'color4back' %>
<% end %>
<%= form_tag('/overallinechart', method: :get) do %>
<%= submit_tag 'Combined', :class => 'color5back' %>
<% end %>
<!-- <h2><span class="color1">E-books, </span><span class="color2">Hardcover, </span><span class="color3">Trade Paperbacks, </span><span class="color4">Mass-Market Paperbacks</span></h2>
 -->
 <div id="chart"></div>
<script>
var chart = c3.generate({
    size: {
        height: 600,
        width: 1500
    },
    data: {
            xs: {<% @books.each do |book| %>
                '<%=book.slug%>_<%=book.list_id%>': '<%=book.slug%>_<%=book.list_id%>_dates',<% end %>
            },
            columns: [<% @books.each do |book| %>
                ['<%=book.slug%>_<%=book.list_id%>_dates', <% book.ranks.each do |rank| %>'<%=rank.date%>', <% end %>],<% end %><% @books.each do |book| %>
                ['<%=book.slug%>_<%=book.list_id%>', <% book.ranks.each do |rank| %><%=rank.reverseposition%>, <% end %>],<% end %>
            ],
            colors: {<% @books.each do |book| %>
                <%=book.slug%>_<%=book.list_id%>: <% if book.list_id == 1 %>'#556270', <% elsif book.list_id == 2 %>'#4ECDC4', <% elsif book.list_id == 3 %>'#C7F464', <% else %>'#FF6B6B', <% end %><% end %>
            },
            names: {<% @books.each do |book| %>
            <%=book.slug%>_<%=book.list_id%>: '<%=book.title%>', <% end %>
            },
        },

    axis: {
        x: {
            type: 'timeseries',
            label: {
                text: 'Date',
                position: 'outer-center'
            },
            tick: {
                format: '%m-%d-%Y'
            }
        },
        y: {
            max: 20,
            min: 2,
            label: {
                text: 'Bestseller list rank',
                position: 'outer-middle',
            },
            tick: {
                format: function (d) { return String(Math.abs(d - 21)); }
            }
        }
    },
    legend: {
        position: 'right'
    },
    tooltip: {
        format: {
            title: function (d) {
                date1 = new Date(d); 
                return date1.toDateString(); },
            value: function (value, ratio, id) {
                return '#' + String(Math.abs(value - 21));
            }
        },
    }
});
</script>